#canvas {
  width: 1200px;
  height: 675px;
  background-color: hsl(240, 100%, 16%);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#canvas > div,
#canvas > img {
  position: absolute;
}

#floor {
  width: 100%;
  height: 120px;
  background-color: hsl(240, 100%, 46%);
  bottom: 0;
  border-top: 1px #FAFAFA solid;
}

#hero {
  width: 80px;
  height: 120px;
  bottom: 100px;
  left: 60px;
}

#hand {
  width: 80px;
  height: 120px;
  bottom: 100px;
  left: 1000px;
}

#zombie {
  width: 80px;
  height: 120px;
  bottom: 100px;
  left: 900px;
}
