#canvas {
  width: 1200px;
  height: 675px;
  background-color: hsl(240, 100%, 16%);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#score {
  height: 50px;
  width: 100px;
  background-color: red;
  top: 24px;
  right:24px;
}

#lives {
  position: absolute;
  top: 24px;
  left: 24px;
}

 #lives > img {
   height: 60px;
   padding-left: 6px;
 }

#canvas > div,
#canvas > img {
  position: absolute;
}

#floor {
  bottom: 120px;
  right: 0px;

}

#hero {
  width: 80px;
  height: 120px;
  bottom: 100px;
  left: 60px;
}

.enemy {
  width: 80px;
  height: 120px;
  bottom: 100px;
}

